# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log

# Databases
*.db
*.sqlite
*.sqlite3

# MLflow / local artifacts
mlruns/
artifacts/

# DVC cache
.dvc/cache/

# Generated datasets
data/raw/
data/processed/
data/features/